{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}{{ title }}{% endblock%}

{% block content %}
<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1">{{ object.title|capfirst }}</h2>
    <p class="blog-post-meta">{{ object.created_at.date }} | Просмотров: {{ object.views_count }}</p>
    <br>
    <div class="row">
        <div class="col-7">
            <div class="btn-group">
                <a href={% url 'blog:edit_post' object.pk %} class="btn btn-sm
                btn-outline-secondary">Редактировать пост</a>
                <a href={% url 'blog:delete_post' object.pk %} class="btn btn-sm
                btn-outline-secondary">Удалить пост</a>
            </div>
        </div>
        <p>
        <div class="col-7">
            <p>{{ object.body|linebreaksbr }}</p>
        </div>
        <div class="col-1">
        </div>
        <div class="col-4">
            {% if object.img_preview %}
            <img src="{% my_media object.img_preview %}" class="d-block w-100" alt="...">
            {% endif %}
        </div>
    </div>
</article>
<br>
{% endblock %}