{% load static %}

<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href={% url "catalog:home" %} class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis
    text-decoration-none">
    <img src="{% static 'images/book.png' %}" alt="logo" width="60" height="54">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"></svg>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href={% url "catalog:home" %} class="nav-link px-2 link-body-emphasis">Главная</a></li>
        <li><a href={% url "catalog:store" %} class="nav-link px-2 link-body-emphasis">Каталог</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Акции</a></li>
        <li><a href={% url "catalog:contacts" %} class="nav-link px-2 link-body-emphasis">Обратная связь</a>
        </li>
    </ul>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Найти книгу..." aria-label="Search">
    </form>
</div>