{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock%}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<style>
    header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 3;
    background-color: rgb(220,220,220);

}

    body {
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;
}
    .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

    .main {
    padding: 30px;
    flex: 1 1 auto;
    }
</style>

<body>
<div class="wrapper">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            {% include 'catalog/includes/inc_catalog_menu.html' %}
        </div>
    </header>

    <main class="main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    ООО Книжный
                    <small class="d-block mb-3 text-muted">&copy; {% now 'Y' %}</small>
                </div>
                <div class="col-6 col-md">
                    <ul class="list-unstyled text-small">
                        <li><a class="nav-link px-2 text-body-secondary" href="#">Оплата и доставка</a></li>
                        <li><a class="nav-link px-2 text-body-secondary" href="#">Правила возврата</a></li>
                        <li><a class="nav-link px-2 text-body-secondary" href="#">Частые вопросы</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <ul class="list-unstyled text-small">
                        <li><a class="nav-link px-2 text-body-secondary" href={% url 'catalog:posts' %}>Мы пишем</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <ul class="list-unstyled text-small">
                        <li><a class="nav-link px-2 text-body-secondary" href={% url "catalog:contacts" %}>Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>