{% extends 'base.html' %}
{% block title %}Обратная связь{% endblock %}
{% load static %}

{% block content %}
<div class="row mt-5">
    <div class="col-6">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/3.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
    </div>
    <div class="col-6">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Обратная связь</h3>
                    <p>Если у тебя есть идеи, пожелания, замечания — пиши! И мы сделаем все, чтобы стать
                        лучше.</p>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input name="name" type="text" class="form-control" placeholder="Имя"
                                   aria-describedby="nameHelp">
                        </div>
                        <div class="mb-3">
                            <input name="email" type="email" placeholder="Email" class="form-control"
                                   id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                                    <textarea name="message" class="form-control" placeholder="Сообщение"
                                              id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary form-control">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}