{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="row mt-5">
    <h2>Топ 5 популярных книг</h2>
    <table class="table">
  <tbody>
  {% for item in product %}
    <tr>
      <td>{{item.product_name}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<div class="row mt-5"></div>
<h2>Поделись своими впечатлениями</h2>
<div class="row row-cols-1 row-cols-md-2 g-4, mt-3">
    <div class="col">
        <div class="card">
            <img src="/static/catalog/images/issue1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                    естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                                    <textarea name="review" class="form-control" placeholder="Рецензия на книгу"
                                              id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary form-control">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/catalog/images/issue2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                    естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                                    <textarea name="review" class="form-control" placeholder="Рецензия на книгу"
                                              id="exampleFormControlTextarea2" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary form-control">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/catalog/images/issue0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                    естественного перехода к дополнительному контенту.</p>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                                    <textarea name="review" class="form-control" placeholder="Рецензия на книгу"
                                              id="exampleFormControlTextarea3" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary form-control">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/catalog/images/issue4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                    естественного перехода к дополнительному контенту.</p>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                                    <textarea name="review" class="form-control" placeholder="Рецензия на книгу"
                                              id="exampleFormControlTextarea4" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary form-control">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}