{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <img src="{% if object.image %} {% my_media object.image %} {% else %} {% static 'images/default_img.png' %} {% endif %}"
             class="d-block w-100" alt="...">
    </div>
    <div class="col-6">
        <br>
        <h3>{{ object.product_name }}</h3>
        <div class="col">
            <div class="btn-group">
                <a href="{% url 'catalog:edit_product' object.pk %}" class="btn btn-sm
                btn-outline-secondary">Редактировать карточку товара</a>
                <a href="{% url 'catalog:delete_product' object.pk %}" class="btn btn-sm
                btn-outline-secondary">Удалить товар</a>
            </div>
        </div>
        <br>
        <h6>{{ object.category }}</h6>
        <br>
        <p>{{ object.prod_desc }}</p>
        <br>
        <h3>{{ object.price }} руб.</h3>
        <br>
        <h6>
            {% if object.in_stock %}
            {{ "В наличии" }}
            <br>
            <br>
            <button class="btn btn-outline-success" type="button">В корзину</button>
            {% else %}
            {{ "Нет в наличии" }}
            {% endif %}
            <br>
            <br>
        </h6>

        {% if object.version.all %}
        {% for version in object.version.all %}
        {% if version.is_current == True %}
        <hr>
        <h6>
            Активная версия:<br>
            Название версии: {{version.version_name}}<br>
            Номер версии: {{version.version_number}}
        </h6>
        {% else %}
        <hr>
        <h6>Версия "{{version.version_name}}" не активна</h6>
        {% endif %}
        {% endfor %}
        {% else %}
        <h6>Нет активной версии</h6>
        {% endif %}

    </div>
</div>
{% endblock %}