{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row mb-5">

    <div class="col-lg-2">
        {% for category in categories %}
        <div class="list-group">
            <a href={% url "catalog:category" category.pk %}
            class="list-group list-group-item-action">{{ category.category_name }}</a>
        </div>
        {% endfor %}
    </div>

    <div class="col-lg-10">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for object in object_list %}
                <div class="card-group">
                    <div class="col">
                        <div class="card mb-3 bg-light" style="max-width: 540px;">
                            {% if object.image %}
                            <img src="{% my_media object.image %}" class="card-img-top" alt="...">
                            {% else %}
                            <img src="{% static 'images/default_img.png' %}" class="d-block w-100" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ object.product_name }}</h5>
                                <a href={% url 'catalog:view_product' object.pk %} class="btn
                                btn-outline-success">Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if page_obj.has_other_pages %}
<div class="pagination justify-content-end">
    <nav aria-label="Навигация по страницам">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                {% if page_obj.has_previous %}
                <a class="page-link text-body-secondary" href="?page={{ page_obj.previous_page_number }}"
                   aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}
            </li>
            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <li class="page-item active" aria-current="page"><span
                    class="page-link text-body-secondary">{{ page }}</span>
            </li>
            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link text-body-secondary" href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link text-body-secondary" href="?page={{ page_obj.next_page_number }}"
                   aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
{% endif %}
{% endblock %}